/* Base Styles Start */
* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.intro {
  background-color: whitesmoke;
  padding: 1.5rem;
}
.intro p {
  color: grey;
  font-weight: 400;
  margin: 16px;
  text-align: center;
}
img {
  max-width: 100%;
}
.intro img {
  width: 60%;
}
h1 {
  text-align: center;
  font-weight: 700;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vh;
  margin-bottom: 5vh;
}
nav a {
  background-color: white;
  color: black;
  text-decoration: none;
  font-weight: 700;
  padding: 3px 100px;
  text-align: center;
  width: 100%;
}
img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  text-align: center;
  font-size: smaller;
  margin: 2.5rem;
}

.portfolio h3 {
  text-align: center;
}
.portfolio p {
  text-align: center;
  margin: 1rem 1.5rem;
}
.contact {
  background-color: whitesmoke;
  padding: 0.5rem;
  border-bottom: 0.5px solid grey;
}
.contact p {
  text-align: center;
  margin: 1em 2em;
  color: grey;
  text-decoration: none;
}
.contact a {
  text-decoration: none;
  color: grey;
}

footer {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: black;
}
footer a {
  text-decoration: none;
  color: black;
}
.tabletFooter {
  display: none;
}
/* Base Styles End */

/* Tablet Media Queries */
@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
  }
  nav a {
    padding: 0;
    background-color: whitesmoke;
  }
  .introContainer {
    display: flex;
    flex-direction: row-reverse;
  }
  .introContainer p {
    text-align: left;
  }
  .introContainer img {
    width: 30%;
    margin: 1%;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .marketing,
  .search,
  .travel,
  .favorite,
  .photo,
  .calculator {
    width: 50%;
  }
  .projects img {
    width: 48%;
  }
  .topButton {
    display: none;
  }
  .tabletFooter {
    display: inherit;
  }
  .tabletNav {
    width: 35%;
    align-items: center;
    margin: 0;
    justify-content: space-evenly;
  }
}
/* Tablet Media Queries End */

/* Website Media Queries */
@media (min-width: 1024px) {
  .desktopIntro {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .introContainer p {
    font-size: 1.5rem;
  }
  .marketing,
  .search,
  .travel,
  .favorite,
  .photo,
  .calculator {
    width: 33%;
  }
  .projects img {
    width: 30%;
  }
}
/* Website Media Queries End */
